* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  
}

body {
  background: linear-gradient(68.15deg, #ffeeb6 16.62%, #ffce74 85.61%);
  overflow: hidden;
}


.cart {
  width: 45px;
  height: 45px;
}

.cabeçalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.titulo {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #000000;

}


.carrinhoDeCompras {
  height: 100vh;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #000000;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.arrow-style {
  animation: floatAnimation 2s infinite ease-in-out; /* Aplica a animação de flutuação */
  margin: 0;
}

.arrow-style2 {
  animation: floatAnimation 2s infinite ease-in-out; /* Aplica a animação de flutuação */
  margin: 0;
}

/* Define a animação de flutuação */
@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0); /* Define a posição inicial e final como sem deslocamento vertical */
  }
  50% {
    transform: translateY(-20px); /* Define a posição no meio da animação com um deslocamento vertical negativo */
  }
}

.conteudo {
  border-top: 0.4px solid #ffffff;
}




.produtos {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.produtos2 {
  
  border: 4px solid #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
} 

.conteudo2 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.conteudo2 {
  border-top: 0.4px solid #ffffff;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0px 20px 30px;
  color: rgba(255, 166, 0, 0.452); /* Cor da seta */
  transition: background-color 1s ease;
  display: inline-block;
  cursor: pointer;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  margin: 20px;
}

.arrow:hover {
  color: rgb(255, 246, 114)
}


.arrow2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 30px;
  color: rgba(255, 166, 0, 0.452); /* Cor da seta */
  transition: background-color 1s ease;
  /* display: inline-block; */
  transform: rotate(180deg); /* Rotação inicial */
  cursor: pointer;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.arrow2:hover {
  color: rgb(255, 246, 114)
}

.arrow-container {
  cursor: pointer;
  
}



.product {
  border: 4px solid #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;

 /* display: inline-block; */
}




.texto_produtos {
  font-size: 10px;
}

.adicionar {
  padding: 0px 5px;
  font-size: 30px;
  color: #ffffff;
  background-color: #31d655;
  cursor: pointer;
  border-radius: 5px;
}

.adicionar:hover {
  background-color: #209e3c;
}

.carrinho {
  color: #ff0000;
}

/* Estilo do modal */
.modal {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* ou qualquer largura desejada */
  max-width: 600px; /* limite máximo da largura */
  max-height: 80%; /* limite máximo da altura */
  padding: 20px;
  color: #ffffff;
  text-shadow: 4px 4px 4px #000000;
  background-color: rgba(255, 251, 0, 0.041);
  overflow-y: auto; /* Aqui está a chave para a rolagem */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#fechar-modal {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#limpar-carrinho {
  background-color: #ffeeb6;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#limpar-carrinho:hover {
  background-color: #ffce74;
}

#fechar-modal:hover {
  background-color: #c82333;
}